# executables
*.exe
*.x

# data-files
*.dat
*.txt
*.csv
*.xls
*.xlsx

# images
#*.png
#*.jpg
#*.jpeg
#*.pdf
*.tif

# compiled files:
build*
*.o
*.so
*.a

# python and notebook files
__pycache__
.ipynb*

# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*

# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.vrb

# eclipse files:
*.cproject
*.project

# doconce:
.*_html_file_collection

# misc:
.DS_Store
Trash
*.copyright
*.copyright
*.exerinfo
*.exerinfo
*.dlog
*.user

